<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: rgb(182, 182, 182);">
    <div class="login-main" align="center" style="margin-top: 200px; margin-left: 350px; margin-right: 350px; background-color: whitesmoke; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <form action="/login" method="post">
        <table width="30%" border="0" bordercolor="black" cellspacing="10" cellpadding="5">
            <tr>
                <td>Username : </td></tr>
                <tr><td><input type="text" name="username" maxlength="50" /></td></tr>
            </tr>
            <tr>
                <td>Password : </td></tr>
                <tr><td><input type="password" name="password" maxlength="50"  /></td></tr>
            </tr>
            <tr>
                <td></td>
                </tr>
                <td>
                    <button type="submit" style="background-color: rgb(29, 27, 25); color: white; padding: 10px 20px; border: none; border-radius: 5px;">Login</button>

                    <a href="/login">Forgot Password ?</a>
                </td>
                
            </tr>
        </table>
    </form>
    </div>
</body>
</html>