<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="/login" method="post">
        <table width="50%" border="2" bordercolor="black" cellspacing="2" cellpadding="2">
            <tr>
                <td>Username : </td>
                <td><input type="text" name="username" maxlength="50"  /></td>
            </tr>
            <tr>
                <td>Password : </td>
                <td><input type="password" name="password" maxlength="50"  /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="Login">Login</button>

                    <a href="login.html">Forgot Password ?</a>
                </td>
                
            </tr>
        </table>
    </form>
</body>
</html>